@media only screen and (min-width: 320px){
	html {
	  font-size: 62.5% !important;
	}
  }
  @media only screen and (min-width: 640px){
	html {
	  font-size: 125% !important;
	}
  }
  @media only screen and (min-width: 750px){
	html {
	  font-size: 150% !important;
	}
  }
  @media only screen and (min-width: 1242px){
	html {
	  font-size: 187.5% !important;
	}
  }
.body{
    padding: 0;
    margin: 0;
}
.wj-about {
  
}

.wj-banner{
    // display: inline-block;
    max-height: 300px;
    height: calc(100vw * 0.15625);
    max-width: 100%;
    background: url('~public/about/aboutusbanner.png') no-repeat center;
    background-size: 100% 100%;
}
.wj-we{
    padding:2.036rem 2.222rem 0;
    text-align: center;

}
.wj-we h3{
    color: #333;
    text-align: center;
    font-weight: 400;
    font-size: 0.962rem;
    margin: 0 !important;
}
.wj-we span{
    font-style: normal;
    font-size: 0.444rem;
    color: #333;
    margin-bottom: 0.444rem;
    display: block;
}

.wj-we p{
    font-size: 0.518rem;
    line-height: 0.888rem;
    color: #424242;
    text-indent: 2em;
    text-align: justify;
    
}

.wj-we h3{
    color: #333;
    text-align: center;
    font-weight: 400;
    font-size: 0.962rem;
    margin: 0 !important;
}

.wj-banner_2{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    background: url('~public/about/tdbanner.png') no-repeat center;
    padding:3.147rem 2.295rem;
}
.wj-banner_2 img{
    display: block;
    position: absolute;
    left: 4.629rem;
    top: 4.444rem;
}
.wj-banner_2 i{
    display: block;
    font-style: normal;
    font-size: 0.666rem;

    color: #fff;

    position: absolute;

    left: 6.297rem;

    top: 7.03rem;
}
.wj-banner_2 .wj-blueBox{
    background: rgba(33, 126, 193, 0.7);
    text-align: center;
    float: right;
    padding:1.847rem;
    width: 58%;
}
.wj-banner_2 .wj-blueBox h3{
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 0.666rem;
}
.wj-banner_2 .wj-blueBox hr{
    width: 1.48rem;
    border: 0.037rem solid #fff;
    margin: 0.74rem auto 0;
}
.wj-banner_2 .wj-blueBox p{
    text-indent: 2em;
    color: #fff;
    font-size: 0.518rem;
    line-height: 0.888rem;
    margin-top: 0.74rem;
    text-align: justify;
}

.wj-callMeDiv{
    padding: 0 2.295rem 1.066rem;
}

.wj-callMeDiv h3{
    font-size: 0.961rem;
    color: #333;
    text-align: center;
    font-weight: 400;
    margin: 0.4rem 0 0.4rem !important;
}
.wj-callMeDiv i{
    font-size: 0.444rem;


    color: #333;

    font-style: normal;

    text-align: center;

    display: block;
}
.wj-callMeDiv .wj-beijingDiv{
    margin-top: 1.851rem;
}

.wj-callMeDiv .wj-beijingDiv .wj-beijingLeft{
    width: 29%;
    float: left;
    position: relative;
    padding-top: 2.407rem; 

}
.wj-callMeDiv .wj-beijingDiv  .wj-beijingLeft h5{
    color: #333;
    margin: 0 0 0.74rem !important;
    font-size: 0.667rem;
    font-weight: 400;
}
.wj-callMeDiv .wj-beijingDiv  .wj-beijingLeft p{
    color: #333;
    line-height: 1.111rem;
    font-size: 0.444rem;
}

.wj-callMeDiv .wj-beijingDiv .wj-beijingRight{
    width: 69%;
    float: right;
}

.wj-callMeDiv .wj-shanghaiDiv{
    margin-top: 1.851rem;
}
.wj-callMeDiv img{
    position: absolute;
    left: -1rem;
    top: 2.44rem;
}
.wj-callMeDiv .wj-shanghaiDiv .wj-shanghaiLeft{
    width: 29%;
    float: left;
    position: relative;
    padding-top: 2.407rem;

}
.wj-callMeDiv .wj-shanghaiDiv  .wj-shanghaiLeft h5{
    color: #333;
    margin: 0 0 0.74rem !important;
    font-size: 0.667rem;
    font-weight: 400;
    
}
.wj-callMeDiv .wj-shanghaiDiv  .wj-shanghaiLeft p{
    color: #333;
    line-height: 1.111rem;
    font-size: 0.444rem;
    
}

.wj-callMeDiv .wj-shanghaiDiv .wj-shanghaiRight{
    width: 69%;
    float: right;
}
.wj-clear{
    clear:both;
}
