@import '~utils/style/variables.less';

.footer {
  padding: 10px;
  background-color: @default-layout-footer-color;
  color: #61656e;
  line-height: 23px;
  a {
    color: #fff;
  }

  .footer-top-title {
    color: @default-color;
    margin-bottom: 16px;
  }

  ul {
    li {
      padding: 8px;
    }
  }
}

footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.footer__logo {
  margin-right: 60px;
  > img {
    vertical-align: top;
  }
}