@import '~utils/style/variables.less';

.wj-home{
  .wj-home-carousel {
    user-select: none;
    .ant-carousel .slick-slide {
      background: @default-layout-color;
      overflow: hidden;
      height: auto;
    }
    .ant-carousel .slick-slide {
      color: #fff;
    }
    .carousel-list {
      color: #fff;
      position: relative;
      img {
        border: 0;
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .wj-home-products {
    padding: 16px 16px 50px;
    background: #f4f5f5;
    .home-products-tag {
      width: 80%;
      margin: 0 auto;
      .ant-row {
        > div {
          position: relative;
          height: 380px;
          margin: 16px 0;
          &:hover {
            .home-products-tag-box {
              top: -5%;
              left: -2%;
              width: 104%;
              height: 110%;
              border: 1px solid @default-color;
              .home-init-tag {
                display: none;
              }
              .home-hover-tag {
                display: block;
              }
            }
          }
        }
      }     
      .home-products-tag-box {
        position: absolute;
        top: 0;
        left: 5%;
        z-index: 99;
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
        width: 88%;
        height: 100%;
        overflow:hidden;
        transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
        h3 {
          text-align: center;
        }
        .home-init-tag {
          width: 100%;
          height: 100%;
          display: block;
          .init-top {
            height: 260px;         
            background-color: #ecf6fd;
            .init-top-content {
              height: 100%;
              padding: 200px 18px 0;
              text-align: center;
            }
          }
          .tag-1 {
            background: url('~public/home/tag-1.png') center 45px no-repeat;
          }
          .tag-2 {
            background: url('~public/home/tag-2.png') center 45px no-repeat;
          }
          .tag-3 {
            background: url('~public/home/tag-3.png') center 45px no-repeat;
          }
          .init-footer {
            height: 120px;
            padding: 20px 42px;
            background-color: #fff;
            > li {
              margin: 8px;
            }
          }
        }
        .home-hover-tag {
          width: 100%;
          height: 100%;
          display: none;
          .hover-top {
            position: relative;
            height: 33%;
            background-color: @default-color;
            h3{color: #fff;}
            .hover-top-center {
              width: 50%;
              height: 100px;
              padding-top: 56px;
              margin: auto;
              position: absolute;
              top: 50%; left: 50%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
          }
          .tag-1 {
            background: url('~public/home/tag-1-fff.png') center top no-repeat;
            background-size: 55px 55px;
          }
          .tag-2 {
            background: url('~public/home/tag-2-fff.png') center top no-repeat;
            background-size: 55px 55px;
          }
          .tag-3 {
            background: url('~public/home/tag-3-fff.png') center top no-repeat;
            background-size: 55px 55px;
          }
          .hover-footer {
            height: 77%;
            width: 90%;
            margin: 0 auto;
            padding-top: 25px;
            .article-box {
              width: 320px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .wj-home-data {
    img {
      border: 0;
      max-width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .wj-home-partner {
    margin-bottom: 100px;
    .partner-logo {
      margin-top: 50px;
      text-align: center;
      .partner-logo-box {
        padding: 8px;
        &:hover {
          background: #ecf6fd;
        }
      }
      img {
        border: none;
        vertical-align: middle;
        height: 60px;
        max-width: 100%;
      }
    }
  }
}
