.wj-poors {
  .wj-poors-functions-title {
    font-size: 24px;
  }
  .wj-poors-functions {
    width: 60%;
    margin: 32px auto;
    @media (max-width: 670px) {
      width: 90%;
    }
    .wj-poors-functions-list {
      margin-top: 50px;
    }
  }
  .wj-poors-ways {
    height: 520px;
    background: url('~public/solutions/poors/agboxTwoBg.png') center no-repeat;
    background-size: 100% 100%;
    padding: 60px 0;
    .ways-list {
      position: relative;
      width: 70%;
      margin: 24px auto;
      @media (max-width: 670px) {
        width: 90%;
      }
      img {
        height: 346px;
        width: 55%;
        border: none;
      }
      .way-p {
        position: absolute;
        width: 45%;
        right: -12px;
        z-index: 99;
      }
      .way-1 {
        top: 76px;
      }
      .way-2 {
        top: 148px;
      }
      .way-3 {
        top: 218px;
      }
    }
  }

  .wj-poors-methods {
    width: 80%;
    margin: 32px auto;
    text-align: center;
    .ant-row {
      > div {
        height: 145px;
        line-height: 145px;
        font-size: 20px;
        font-weight: 600;
        img {
          vertical-align: middle;
          margin-right: 16px;
        }
        &:hover {
          img {
            animation:imgHover 1s linear 2;
          }          
        }
      }
    }
  }
}

@keyframes imgHover
{
	0%{transform:rotate(0deg);}
	25%{transform:rotate(-10deg);}
	75%{transform:rotate(10deg);}
	100%{transform:rotate(0deg);}
}