.wj-products {
  .wj-top-bg {
    height: 300px;
    overflow: hidden;
    background: url('~public/products/banner.png') left center no-repeat;
    background-size: 100% 100%;
  }
  .wj-products-content {
    min-height: 500px;
    position: relative;
    .wj-products-nav {
      position: absolute;
      top: 0;
      left: 20%;
    }
  }
}